/* Reset Options */

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;

}

img {
    width: 100%;
}

/* Common styles starts */

.container {
    max-width: 1320px;
    margin: auto;
    box-sizing: border-box;
}

.common-btn {
    padding: 12px 41.5px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;

}

.outline-btn {
    padding: 12px 0;
    background-color: white;
    border: 1px solid #1D4ED8;
    border-radius: 10px;
    color: #1D4ED8;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    cursor: pointer;

}

.outline-btn-black {
    padding: 12px 0;
    background-color: white;
    border: 1px solid #0D1B2A;
    border-radius: 10px;
    color: #0D1B2A;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    cursor: pointer;

}


/* Common styles ends*/


/* Header styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    width: 134px;
    height: 44px;
    object-fit: cover;

}


#nav-ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

#nav-ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #575757;
    font-weight: 500;
    font-family: inter;
}


/* footer style */

.footer {
    background-color: #0D1B2A;
    padding: 60px 0 20px 0;

}

.footer_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icon {
    color: white;
}

.ficon {
    display: flex;
    gap: 8px;
}

.horizontal-border {
    border: none;
    height: .58px;
    background-color: #8582826e;
    margin: 20px auto;
    width: 98%;

}

.Copyright {
    color: rgba(255, 255, 255, 0.435);
    font-size: 12px;
    text-align: center;
    font-weight: 300px;

}

/* footer ends here */

/* Hero Style */

.hero-root {
    height: 100vh;

    /* got the grad properties from penpot & use gpt to find out how to use multiple grad and bg image */
    display: flex;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 41.74%, rgba(0, 0, 0, 0.88) 87.44%),
        url('./assets/banner.jpg');
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overlay: .60 black;

}

.hero-parent {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}

.hero-title h1 {
    font-size: 80px;
    font-weight: 800;
    line-height: 80px;
    text-align: center;
    padding-bottom: 40px;
    color: white;

}

.hero-title p {
    font-size: 22px;
    line-height: 34px;
    font-weight: 300;
    text-align: center;
    width: 60%;
    margin: auto;
    color: white;

}

.hero-btn {
    margin: auto;
    padding-top: 200px;
}

/* hero style ends here */

/* meet the speakers */


.meet-parent {
    padding: 80px 0;
}

.meet-title {
    font-size: 56px;
    font-weight: 800;
    line-height: 64.4px;
    text-align: center;
    padding-bottom: 56px;
}

.category {
    font-size: 12px;
    line-height: 18px;
    color: #1D4ED8;
    font-weight: 600;
}

.name {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #0d1b2aFF;

}

.designation {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #575757FF;
}

.card {
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}

.card-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-img {
    border-radius: 12px 12px 0 0;
}

.card-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 36px 33px;
}

/* meet the speakers ends here */
.all-pricing {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    max-width: 1200px;
    margin: auto;
}

.pricing-title h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 800px;
    color: #0D1B2A;
    text-align: center;
    padding-bottom: 30px;
}

.pricing-title p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 50px;
    color: #575757;
}

.pricing-parent {
    padding: 80px 0;
}

.pricing-table-1 {
    padding: 32px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 33%;
}

.pricing-table-2 {
    padding: 32px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    display: flex;
    flex: 33%;
    flex-direction: column;
    gap: 20px;
    background-color: #0D1B2A;
}

.pricing-table-3 {
    padding: 32px;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    display: flex;
    flex: 33%;
    flex-direction: column;
    gap: 20px;
    background-color: #F8F9FB;
}

.package {
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    color: #888888;
    text-transform: uppercase;
}

.package-2 {
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    color: #93C5FD;
    text-transform: uppercase;
}

.price {
    font-size: 44px;
    font-weight: 700;
    line-height: 44px;
    color: #0D1B2A;
}

.price-2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 44px;
    color: white;
}

.numbers {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: #888888;
}

.numbers-2 {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: #ffffff76;
}

.plan {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pricing-hr {
    border: none;
    height: 1px;
    background-color: #E5E7EB;
    margin: 0px auto;
    width: 100%;
}

.pricing-hr-2 {
    border: none;
    height: 1px;
    background-color: #ffffff1d;
    margin: 0px auto;
    width: 100%;
}

.pricing-table-ul {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;



}

.pricing-table-ul-2 {
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;



}

.pricing-table-ul li {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;


}

.pricing-table-ul-2 li {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.781);


}

.blue-bullets li::marker {
    color: #2563EB;

}

/* location style starts here */

.location-parent {
    display: flex;
    flex-direction: row-reverse;
    gap: 88px;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
}

.location-right {

    flex: 1;
    align-content: center;
}

.location-left {
    flex: 1;
}

.location-img {
    border-radius: 12px;
    height: 550px;
    /* width: 500px; */
    object-fit: cover;
    /* object-position: middle; */
}

.loc-content h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 800px;
    color: #0D1B2A;
    padding-bottom: 20px;

}

.loc-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 50px;
    color: #575757;
    width: 70%;
}

.loc {
    background-color: #F8FAFC;
    padding: 80px 0;
}

.icon-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon-box-1 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-box-2 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-box-3 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-box-4 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-box-5 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon-cont {
    background-color: #cae0fec7;
    border-radius: 10px;
    padding: 12px;
}

.icon {
    color: #1D4ED8;
}

.icon-title {
    color: #90A1B9;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;

}

.icon-des {
    color: #0A0F1A;
    /* text-transform: uppercase; */
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.icon-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
    justify-content: center;
}

.loc-btn {
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

.outline-btn-loc {
    padding: 12px 28px;
    background-color: white;
    border: 1px solid #1D4ED8;
    border-radius: 10px;
    color: #1D4ED8;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    cursor: pointer;

}

/* loc style ends here */


/* review style starts */

.review-main {
    background-color: #0A0F1A;
    padding: 80px 0;
}

.review-mother-cont {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.title-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.title-content h2 {
    color: white;
    font-weight: 800;
    font-size: 48px;
}

.title-content p {
    color: #90A1B9;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
}

.counters-parent {
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 1200px;
    margin: auto;
}

.number-icon-1 {
    background-color: #ffffff12;
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: center;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #ffffff12;
    gap: 30px;

}

.number-icon-2 {
    background-color: #ffffff12;
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: center;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #ffffff12;
    gap: 30px;
}

.number-icon-3 {
    background-color: #ffffff12;
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: center;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #ffffff12;
    gap: 30px;
}

.number-icon-4 {
    background-color: #ffffff12;
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: center;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #ffffff12;
    gap: 30px;
}

.count-number {
    font-size: 30px;
    line-height: 36px;
    font-weight: 800;
    color: white;
    text-align: center;
    padding-bottom: 5px;
}

.count-des {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #90A1B9;
    text-align: center;
}

.count-icon {
    color: #60A5FA;
    background-color: #2564eb3c;
    border-radius: 16px;
    padding: 10px;
    font-size: 24px;
}

.testimonials {
    display: flex;
    gap: 24px;
    justify-content: center;
    width: 1200px;
    margin: auto;
}

.testi-1 {
    background-color: #ffffff12;
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: left;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #ffffff12;
    gap: 30px;
}

.testi-2 {
    background-color: #ffffff12;
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: left;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #ffffff12;
    gap: 30px;
}

.testi-3 {
    background-color: #ffffff12;
    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: left;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #ffffff12;
    gap: 30px;
}

.star {
    color: #FFB900;
}

.testi-body {
    font-size: 14px;
    font-weight: 300;
    line-height: 22.8px;
    color: #CAD5E2;
    font-style: italic;
}

.testi-name {
    font-size: 14px;
    font-weight: 600;
    line-height: 22.8px;
    color: #ffffff;

}

.testi-desig {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: #62748E;

}

/* testimonial styles ends here */

.faq-main {
    background-color: #F8FAFC;
    padding: 80px 0;
}

.faq-parent-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.FAQ-title {
    font-size: 40px;
    font-weight: 800;
    color: #0D1B2A;

}

.all-faq {
    display: flex;
    width: 100%;
    max-width: 70%;
    flex-direction: column;
    gap: 20px;


}

.FAQ-1 {
    background-color: white;
    padding: 20px 24px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.FAQ-2 {
    background-color: white;
    padding: 20px 24px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.FAQ-3 {
    background-color: white;
    padding: 20px 24px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.FAQ-4 {
    background-color: white;
    padding: 20px 24px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.FAQ-5 {
    background-color: white;
    padding: 20px 24px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.FAQ-6 {
    background-color: white;
    padding: 20px 24px;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.faq-ques {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #0D1B2A;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

}

.faq-arrow {
    display: inline-block;
    font-size: 12px;
    color: #333;
    transition: transform 0.2s ease;
}

.faq-arrow::before {
    content: "▶";
}

.faq-ans {
    padding: 16px 20px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: #62748E;
}

.FAQ-1[open] .faq-arrow {
    transform: rotate(90deg);
}

.FAQ-2[open] .faq-arrow {
    transform: rotate(90deg);
}

.FAQ-3[open] .faq-arrow {
    transform: rotate(90deg);
}

.FAQ-4[open] .faq-arrow {
    transform: rotate(90deg);
}

.FAQ-5[open] .faq-arrow {
    transform: rotate(90deg);
}

.FAQ-6[open] .faq-arrow {
    transform: rotate(90deg);
}